* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Rajdhani", sans-serif;  
}


@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}


body, input, textarea, button {
    font: 400 1rem "Inter", sans-serif;
    background: rgb(216, 214, 214);
}

.swal-wide-error{
    width: 85% !important;
    height: 85% !important;
    font-size: 1rem !important;
    color: red !important;
}

.swal-wide-success { 
    width: 80% !important;
    height: 80% !important;
    font-size: 1rem !important;
    color: rgb(11, 139, 139) !important;
    font-weight: bold !important;

}

@media(min-width: 720px) {
    .swal-wide-success { 
        width: 45% !important;
        height: 80% !important;
        align-items: center !important;
        font-size: 1.4rem !important;
    }

    .swal-wide-error{
        width: 45% !important;
        height: 80% !important;
        align-items: center !important;
        font-size: 1.2rem !important;
        padding: 2% !important;
    }
}
